<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    small{
        color: red;
    }
</style>
<div th:insert="~{layout::menu}"></div>
<div class="container" style="margin-top: 70px">
    <form action="/customer/create" th:object="${customerDto}" method="post">
        <div class="form-group">
            <label for="code" class="col-sm-2 col-form-label">Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{code}" id="code">
                <small th:errors="*{code}"></small>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{name}" id="name">
                <small th:errors="*{name}"></small>

            </div>
        </div>
        <div class="form-group">
            <label for="birthday" class="col-sm-2 col-form-label">Birthday</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="*{birthday}" id="birthday">
                <small th:errors="*{birthday}"></small>

            </div>
        </div>
        <div class="form-group">
            <label for="gender" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
                <select  id="gender" class="form-control" th:field="*{gender}">
                    <option th:value="male" th:text="male"></option>
                    <option th:value="female" th:text="female"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="idcard" class="col-sm-2 col-form-label">Id Card</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{idCard}" id="idcard">
                <small th:errors="*{idCard}"></small>

            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{phone}" id="phone">
                <small th:errors="*{phone}"></small>

            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{email}" id="email">
                <small th:errors="*{email}"></small>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Type of customer</label>
            <div class="col-sm-10">
                <select th:field="*{customerType}" class="form-control">
                    <option th:each="c:${customerTypes}"
                    th:value="${c.typeId}" th:text="${c.typeName}"></option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{address}" id="address">
                <small th:errors="*{address}"></small>

            </div>
        </div>
        <div class="d-flex justify-content-around">
            <a class="btn btn-secondary"  href="/customer/">Back to list customer</a>
            <button type="submit" class="btn btn-success">Create</button>
        </div>

    </form>
</div>

</body>
</html>